USE [master]
GO
/****** Object:  Database [TT_TinHoc]    Script Date: 19-Jun-21 6:44:38 PM ******/
CREATE DATABASE [TT_TinHoc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TT_TinHoc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TT_TinHoc.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TT_TinHoc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TT_TinHoc_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TT_TinHoc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TT_TinHoc]
GO
/****** Object:  Table [dbo].[ChungChi]    Script Date: 19-Jun-21 6:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChungChi](
	[MaChungChi] [char](8) NOT NULL,
	[TenChungChi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ChungChi] PRIMARY KEY CLUSTERED 
(
	[MaChungChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKy]    Script Date: 19-Jun-21 6:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKy](
	[NgayDangKy] [date] NOT NULL,
	[MaHV] [char](8) NOT NULL,
	[MaLop] [char](8) NOT NULL,
	[MaHD] [char](8) NULL,
 CONSTRAINT [PK_DangKy] PRIMARY KEY CLUSTERED 
(
	[MaHV] ASC,
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 19-Jun-21 6:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [char](8) NOT NULL,
	[NgayLapHD] [date] NOT NULL,
	[TongTien] [money] NOT NULL,
	[MaNV] [char](8) NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HocVien]    Script Date: 19-Jun-21 6:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HocVien](
	[MaHV] [char](8) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[CCCD] [char](12) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[SDT] [char](10) NOT NULL,
	[NgaySinh] [date] NULL,
 CONSTRAINT [PK_HocVien] PRIMARY KEY CLUSTERED 
(
	[MaHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuThi]    Script Date: 19-Jun-21 6:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuThi](
	[MaHV] [char](8) NOT NULL,
	[MaLop] [char](8) NOT NULL,
	[NgayThi] [datetime] NOT NULL,
	[DiaDiem] [varchar](50) NULL,
	[Diem] [float] NOT NULL,
 CONSTRAINT [PK_LichSuThi] PRIMARY KEY CLUSTERED 
(
	[MaHV] ASC,
	[MaLop] ASC,
	[NgayThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuTotNghiep]    Script Date: 19-Jun-21 6:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuTotNghiep](
	[NgayNhan] [date] NOT NULL,
	[MaHV] [char](8) NOT NULL,
	[MaChungChi] [char](8) NOT NULL,
 CONSTRAINT [PK_LichSuTotNghiep] PRIMARY KEY CLUSTERED 
(
	[MaHV] ASC,
	[MaChungChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 19-Jun-21 6:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[MaLop] [char](8) NOT NULL,
	[NgayMo] [date] NOT NULL,
	[Soluong] [int] NOT NULL,
	[MaMH] [char](8) NULL,
	[MaNV] [char](8) NULL,
	[HocPhi] [money] NULL,
 CONSTRAINT [PK_Lop] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 19-Jun-21 6:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMH] [char](8) NOT NULL,
	[TenMH] [nvarchar](50) NOT NULL,
	[MaNhomMH] [char](8) NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 19-Jun-21 6:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [char](8) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[CCCD] [char](12) NOT NULL,
	[NgaySinh] [date] NULL,
	[SDT] [char](10) NOT NULL,
	[Luong] [money] NULL,
	[Role] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomMonHoc]    Script Date: 19-Jun-21 6:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomMonHoc](
	[MaNhomMH] [char](8) NOT NULL,
	[TenNhomMH] [nvarchar](30) NOT NULL,
	[MaChungChi] [char](8) NULL,
 CONSTRAINT [PK_NhomMonHoc] PRIMARY KEY CLUSTERED 
(
	[MaNhomMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChungChi] ([MaChungChi], [TenChungChi]) VALUES (N'CC000001', N'Chung chi A tin hoc')
INSERT [dbo].[ChungChi] ([MaChungChi], [TenChungChi]) VALUES (N'CC000002', N'Chung chi B tin hoc')
INSERT [dbo].[ChungChi] ([MaChungChi], [TenChungChi]) VALUES (N'CC000003', N'Chung chi Do hoa da truyen thong')
GO
INSERT [dbo].[DangKy] ([NgayDangKy], [MaHV], [MaLop], [MaHD]) VALUES (CAST(N'2021-02-05' AS Date), N'HV000001', N'LOP00005', N'HD000001')
INSERT [dbo].[DangKy] ([NgayDangKy], [MaHV], [MaLop], [MaHD]) VALUES (CAST(N'2020-07-17' AS Date), N'HV000001', N'LOP00010', N'HD000001')
INSERT [dbo].[DangKy] ([NgayDangKy], [MaHV], [MaLop], [MaHD]) VALUES (CAST(N'2021-04-08' AS Date), N'HV000001', N'LOP00029', N'HD000001')
GO
INSERT [dbo].[HoaDon] ([MaHD], [NgayLapHD], [TongTien], [MaNV]) VALUES (N'HD000001', CAST(N'2020-11-17' AS Date), 6100000.0000, N'NV000020')
INSERT [dbo].[HoaDon] ([MaHD], [NgayLapHD], [TongTien], [MaNV]) VALUES (N'HD000002', CAST(N'2021-04-29' AS Date), 45600000.0000, N'NV000021')
INSERT [dbo].[HoaDon] ([MaHD], [NgayLapHD], [TongTien], [MaNV]) VALUES (N'HD000003', CAST(N'2020-12-24' AS Date), 43000000.0000, N'NV000022')
GO
INSERT [dbo].[HocVien] ([MaHV], [Password], [HoTen], [CCCD], [Email], [SDT], [NgaySinh]) VALUES (N'HV000001', N'l0I5Iz', N'Zane McMichell', N'296291169   ', N'zmcmichell0@cbslocal.com', N'5659882181', CAST(N'1999-03-01' AS Date))
INSERT [dbo].[HocVien] ([MaHV], [Password], [HoTen], [CCCD], [Email], [SDT], [NgaySinh]) VALUES (N'HV000002', N'G7INEFm', N'Guy Cootes', N'254178551   ', N'gcootes1@posterous.com', N'2824833852', CAST(N'2002-01-18' AS Date))
INSERT [dbo].[HocVien] ([MaHV], [Password], [HoTen], [CCCD], [Email], [SDT], [NgaySinh]) VALUES (N'HV000003', N'aSgVdWf1l4', N'Georgianna Arnao', N'640919694   ', N'garnao2@hc360.com', N'1802066027', CAST(N'1995-12-28' AS Date))
GO
INSERT [dbo].[LichSuThi] ([MaHV], [MaLop], [NgayThi], [DiaDiem], [Diem]) VALUES (N'HV000001', N'LOP00005', CAST(N'2021-06-22T13:07:37.000' AS DateTime), N'ultrices posuere', 8)
INSERT [dbo].[LichSuThi] ([MaHV], [MaLop], [NgayThi], [DiaDiem], [Diem]) VALUES (N'HV000001', N'LOP00010', CAST(N'2021-06-26T05:48:02.000' AS DateTime), N'vivamus tortor', 7)
INSERT [dbo].[LichSuThi] ([MaHV], [MaLop], [NgayThi], [DiaDiem], [Diem]) VALUES (N'HV000001', N'LOP00029', CAST(N'2021-06-22T20:17:53.000' AS DateTime), N'erat', 7)
GO
INSERT [dbo].[Lop] ([MaLop], [NgayMo], [Soluong], [MaMH], [MaNV], [HocPhi]) VALUES (N'LOP00001', CAST(N'2020-08-27' AS Date), 35, N'THVP0001', N'NV000031', 930000.0000)
INSERT [dbo].[Lop] ([MaLop], [NgayMo], [Soluong], [MaMH], [MaNV], [HocPhi]) VALUES (N'LOP00002', CAST(N'2020-06-20' AS Date), 98, N'THVP0002', N'NV000031', 190000.0000)
INSERT [dbo].[Lop] ([MaLop], [NgayMo], [Soluong], [MaMH], [MaNV], [HocPhi]) VALUES (N'LOP00003', CAST(N'2021-01-16' AS Date), 82, N'MOSEXCEL', N'NV000032', 960000.0000)
GO
INSERT [dbo].[MonHoc] ([MaMH], [TenMH], [MaNhomMH]) VALUES (N'BUSIANAL', N'Business Analysis', N'NMH00005')
INSERT [dbo].[MonHoc] ([MaMH], [TenMH], [MaNhomMH]) VALUES (N'CPROGRAM', N'Lap trinh C C', N'NMH00006')
INSERT [dbo].[MonHoc] ([MaMH], [TenMH], [MaNhomMH]) VALUES (N'DATASCI ', N'Data Science', N'NMH00005')
GO
INSERT [dbo].[NhanVien] ([MaNV], [Password], [HoTen], [Email], [CCCD], [NgaySinh], [SDT], [Luong], [Role]) VALUES (N'NV000001', N'mBfLmZcoRB22', N'Odele Tresise', N'otresise0@amazon.com', N'722789093   ', CAST(N'2000-02-16' AS Date), N'2267228074', 8400000.0000, N'NVQL Hoc Vien')
INSERT [dbo].[NhanVien] ([MaNV], [Password], [HoTen], [Email], [CCCD], [NgaySinh], [SDT], [Luong], [Role]) VALUES (N'NV000002', N'yjHmuPL0OAoS', N'Delores Giovannetti', N'dgiovannetti1@sakura.ne.jp', N'78525287    ', CAST(N'1990-12-11' AS Date), N'7903910746', 5100000.0000, N'NVQL Hoc Vien')
INSERT [dbo].[NhanVien] ([MaNV], [Password], [HoTen], [Email], [CCCD], [NgaySinh], [SDT], [Luong], [Role]) VALUES (N'NV000003', N'id15WKyNkGt', N'Rosina Grace', N'rgrace2@squarespace.com', N'740955703   ', CAST(N'1992-11-27' AS Date), N'2945983776', 2100000.0000, N'NVQL Hoc Vien')
GO
INSERT [dbo].[NhomMonHoc] ([MaNhomMH], [TenNhomMH], [MaChungChi]) VALUES (N'NMH00001', N'Nhom A tin hoc', N'CC000001')
INSERT [dbo].[NhomMonHoc] ([MaNhomMH], [TenNhomMH], [MaChungChi]) VALUES (N'NMH00002', N'Nhom B tin hoc', N'CC000002')
INSERT [dbo].[NhomMonHoc] ([MaNhomMH], [TenNhomMH], [MaChungChi]) VALUES (N'NMH00003', N'Nhom Do hoa da truyen thong', N'CC000003')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IXFK_DangKy_HoaDon]    Script Date: 19-Jun-21 6:44:38 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_DangKy_HoaDon] ON [dbo].[DangKy]
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IXFK_DangKy_HocVien]    Script Date: 19-Jun-21 6:44:38 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_DangKy_HocVien] ON [dbo].[DangKy]
(
	[MaHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IXFK_DangKy_Lop]    Script Date: 19-Jun-21 6:44:38 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_DangKy_Lop] ON [dbo].[DangKy]
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IXFK_HoaDon_NhanVien]    Script Date: 19-Jun-21 6:44:38 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_HoaDon_NhanVien] ON [dbo].[HoaDon]
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Uni_CCCD]    Script Date: 19-Jun-21 6:44:38 PM ******/
ALTER TABLE [dbo].[HocVien] ADD  CONSTRAINT [Uni_CCCD] UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IXFK_LichSuThi_DangKy]    Script Date: 19-Jun-21 6:44:38 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_LichSuThi_DangKy] ON [dbo].[LichSuThi]
(
	[MaHV] ASC,
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IXFK_LichSuTotNghiep_ChungChi]    Script Date: 19-Jun-21 6:44:38 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_LichSuTotNghiep_ChungChi] ON [dbo].[LichSuTotNghiep]
(
	[MaChungChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IXFK_LichSuTotNghiep_HocVien]    Script Date: 19-Jun-21 6:44:38 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_LichSuTotNghiep_HocVien] ON [dbo].[LichSuTotNghiep]
(
	[MaHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IXFK_Lop_MonHoc]    Script Date: 19-Jun-21 6:44:38 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_Lop_MonHoc] ON [dbo].[Lop]
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IXFK_Lop_NhanVien]    Script Date: 19-Jun-21 6:44:38 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_Lop_NhanVien] ON [dbo].[Lop]
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IXFK_MonHoc_NhomMonHoc]    Script Date: 19-Jun-21 6:44:38 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_MonHoc_NhomMonHoc] ON [dbo].[MonHoc]
(
	[MaNhomMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Uni_NV_CCCD]    Script Date: 19-Jun-21 6:44:38 PM ******/
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [Uni_NV_CCCD] UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IXFK_NhomMonHoc_ChungChi]    Script Date: 19-Jun-21 6:44:38 PM ******/
CREATE NONCLUSTERED INDEX [IXFK_NhomMonHoc_ChungChi] ON [dbo].[NhomMonHoc]
(
	[MaChungChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LichSuThi] ADD  DEFAULT ((0.0)) FOR [Diem]
GO
ALTER TABLE [dbo].[Lop] ADD  DEFAULT ((20)) FOR [Soluong]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ((5000000)) FOR [Luong]
GO
ALTER TABLE [dbo].[DangKy]  WITH CHECK ADD  CONSTRAINT [FK_DangKy_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[DangKy] CHECK CONSTRAINT [FK_DangKy_HoaDon]
GO
ALTER TABLE [dbo].[DangKy]  WITH CHECK ADD  CONSTRAINT [FK_DangKy_HocVien] FOREIGN KEY([MaHV])
REFERENCES [dbo].[HocVien] ([MaHV])
GO
ALTER TABLE [dbo].[DangKy] CHECK CONSTRAINT [FK_DangKy_HocVien]
GO
ALTER TABLE [dbo].[DangKy]  WITH CHECK ADD  CONSTRAINT [FK_DangKy_Lop] FOREIGN KEY([MaLop])
REFERENCES [dbo].[Lop] ([MaLop])
GO
ALTER TABLE [dbo].[DangKy] CHECK CONSTRAINT [FK_DangKy_Lop]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[LichSuThi]  WITH CHECK ADD  CONSTRAINT [FK_LichSuThi_DangKy] FOREIGN KEY([MaHV], [MaLop])
REFERENCES [dbo].[DangKy] ([MaHV], [MaLop])
GO
ALTER TABLE [dbo].[LichSuThi] CHECK CONSTRAINT [FK_LichSuThi_DangKy]
GO
ALTER TABLE [dbo].[LichSuTotNghiep]  WITH CHECK ADD  CONSTRAINT [FK_LichSuTotNghiep_ChungChi] FOREIGN KEY([MaChungChi])
REFERENCES [dbo].[ChungChi] ([MaChungChi])
GO
ALTER TABLE [dbo].[LichSuTotNghiep] CHECK CONSTRAINT [FK_LichSuTotNghiep_ChungChi]
GO
ALTER TABLE [dbo].[LichSuTotNghiep]  WITH CHECK ADD  CONSTRAINT [FK_LichSuTotNghiep_HocVien] FOREIGN KEY([MaHV])
REFERENCES [dbo].[HocVien] ([MaHV])
GO
ALTER TABLE [dbo].[LichSuTotNghiep] CHECK CONSTRAINT [FK_LichSuTotNghiep_HocVien]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [FK_Lop_MonHoc] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MonHoc] ([MaMH])
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [FK_Lop_MonHoc]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [FK_Lop_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [FK_Lop_NhanVien]
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD  CONSTRAINT [FK_MonHoc_NhomMonHoc] FOREIGN KEY([MaNhomMH])
REFERENCES [dbo].[NhomMonHoc] ([MaNhomMH])
GO
ALTER TABLE [dbo].[MonHoc] CHECK CONSTRAINT [FK_MonHoc_NhomMonHoc]
GO
ALTER TABLE [dbo].[NhomMonHoc]  WITH CHECK ADD  CONSTRAINT [FK_NhomMonHoc_ChungChi] FOREIGN KEY([MaChungChi])
REFERENCES [dbo].[ChungChi] ([MaChungChi])
GO
ALTER TABLE [dbo].[NhomMonHoc] CHECK CONSTRAINT [FK_NhomMonHoc_ChungChi]
GO
ALTER TABLE [dbo].[LichSuThi]  WITH CHECK ADD  CONSTRAINT [C_Diem] CHECK  (([Diem]>=(0.0) AND [Diem]<=(10.0)))
GO
ALTER TABLE [dbo].[LichSuThi] CHECK CONSTRAINT [C_Diem]
GO
USE [master]
GO
